[Service]
Restart=always

[Container]
ContainerName=plex
# Image=lscr.io/linuxserver/plex:latest
Image=docker.io/plexinc/pms-docker:latest
Label="io.containers.autoupdate=registry"
# Environment=PUID=1000
# Environment=PGID=1000
Environment=TZ=America/Vancouver
Environment=VERSION=docker
Environment=PLEX_CLAIM= #optional
Volume=plex-config.volume:/config:Z
Volume=plex-tv.volume:/tv:Z
Volume=plex-movies.volume:/movies:Z
PublishPort=32400:32400/tcp
PublishPort=1900:1900/udp
PublishPort=5353:5353/udp
PublishPort=8324:8324/tcp
PublishPort=32410:32410/udp
PublishPort=32412:32412/udp
PublishPort=32413:32413/udp
PublishPort=32414:32414/udp
PublishPort=32469:32469/tcp




[Install]
WantedBy=default.target
